@tailwind base;
@tailwind components;
@tailwind utilities;

.hight {
  height: calc(100vh - 16px);
  width: calc(100vw - 16px);
  border-radius: 25px;
}

.photoHeight {
  height: calc(100vh - 16px);
  /* width: 37%; */
}

.highet_screen {
  height: calc(100vh - 32px);
}
